.grid {
    margin: auto;
}

.grid-item {
    width: 250px;
    margin-bottom: 30px;
}

.grid-item img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    transition-duration: 0.25s;
}

.grid-item img:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transform: translate(-2px, -2px);
    transition-duration: 0.25s;
}


