.skills-showcase {
    /* box-shadow: 0px 5px 12px -1px rgb(200, 200, 200); */
    border-radius: 6px;
    max-width: 330px;
    padding: 20px 0px;
    box-shadow: 1px 5px 15px -2px rgba(0, 0, 5, 0.15);
    margin: auto;
    transition-duration: 0.2s;
}

.skills-showcase:hover {
    /* box-shadow: 0px 5px 12px -1px rgb(200, 200, 200); */
    box-shadow: 2px 7px 20px -2px rgba(0, 0, 5, 0.20);
    transform: translate(-2px, -2px);
}

.skills-top {
    padding: 20px 0px;
}

.skills-top img {
    display: block;
    margin: auto;
    padding: 10px 0px;
    max-width: 90px;
}

.skills-top h1 {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding-bottom: 10px;
}

.skills-container {
    display: inline-flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px 30px 20px;
    flex-wrap: wrap;
}

.skill-item {
    margin: 5px 3px;
    padding: 4px 8px;
    width: auto;
    height: wrap;
    text-align: center;
    color: rgb(55, 75, 90);
    font-family: 'Roboto' serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px #bdbdbd;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fffe', endColorstr='#dceae8',GradientType=0 );

}